$main-color: #007fff;
$background-color: #fff;
$main-text-color: #2A3A27;
$generic-text-color: #ffcc00;
$generic-text-accent-color: #50c878;

$home-image: url('../images/theme-pics/paralax-sea-green-3.jpg');
$paralax-slice-1: url('../images/theme-pics/one.jpg');
$paralax-slice-2: url('../images/theme-pics/two.jpg');
$paralax-slice-3: url('../images/theme-pics/three.jpg');
$paralax-slice-4: url('../images/theme-pics/four.jpg');
$paralax-slice-5: url('../images/theme-pics/five.jpg');


$logo: url('../images/rc_logo_color_1a.png');

@import 'design';
