%section#fees.slice
  .container
    .row
      .col-xs-1
      .col-xs-10
        %h1 Pre-congress Workshop
        %h2.text-center
          :markdown
            CIPA Heritage Documentation Summer School: [CULTURAL HERITAGE 3D SURVEYING & MODELLING](/assets/Summerschool_UPV-CIPA2016.pdf)
        %h2.text-center 30 August - 4 September
        %h1 Congress Schedule
      .col-xs-1
    .row
      .col-xs-1
      .col-xs-10
        .table-responsive
          %table.table
            %thead
              %tr
                %th.time Time
                %th 5 Sep
                %th 6 Sep
                %th 7 Sep
            %tbody
              %tr
                %td.time 08:30-09:00

                %td.morning Exhibition
                %td.morning Technical Report and Exhibition
                %td.morning Technical Report and Exhibition
              %tr
                %td.time 09:00-10:00
                %td.ceremony Opening Ceremony
                %td.emerald Keynote 2
                %td.emerald Keynote 3
              %tr
                %td.time 10:00-11:00
                %td.emerald Keynote 1
                %td.technical-session Technical Session 1
                %td.technical-session Technical Session 2
              %tr
                %td.time 11:00-11:30
                %td.red Coffee Break
                %td.red Coffee Break
                %td.red Coffee Break
              %tr
                %td.time 11:30-13:00
                %td.yellow{rowspan: 2}
                  Oral Presentations 1 & 2
                %td.yellow{rowspan: 2}
                  Oral Presentations 5 & 6
                %td.yellow{rowspan: 2}
                  Oral Presentations 9 & 10
              %tr
                %td.time
                  &nbsp;
              %tr
                %td.time 13:00-14:00
                %td.red
                  Lunch
                %td.red
                  Lunch
                %td.red
                  Lunch
              %tr
                %td.time 14:00-15:00
                %td.color4
                  Poster Session 1
                %td.color4
                  Poster Session 2
                %td.color4
                  Poster Session 3
              %tr
                %td.time 15:00-16:30
                %td.yellow{rowspan: 2}
                  Oral Parallel Sessions 3 & 4
                %td.yellow{rowspan: 2}
                  Oral Parallel Sessions 7 & 8
                %td.yellow{rowspan: 2}
                  Oral Parallel Sessions 11 & 12
              %tr
                %td.time
                  &nbsp;
              %tr
                %td.time 16:30-17:00
                %td.red Coffee Break
                %td.red Coffee Break
                %td.ceremony Closing Ceremony
              %tr
                %td.time 17:00-18:30
                %td.exhibition{rowspan: 2}
                  Demo Session 1
                %td.exhibition{rowspan: 2}
                  Demo Session 2
                %td.grey{rowspan: 6}
                  &nbsp;
              %tr
                %td.time &nbsp;
              %tr
                %td.time 18:30-19:00
                %td.table_blank &nbsp;
                %td.table_blank &nbsp;
              %tr
                %td.time 19:00-21:00
                %td.golden City Centre Walking Tour
                %td.table_blank &nbsp;
              %tr
                %td.time 21:00-22:30
                %td.golden Sampling of typical Valencian products.
                %td.golden{rowspan: 2} Gala Dinner
              %tr
                %td.time &nbsp;
                %td.table_blank &nbsp;
      .col-xs-1
