%section#fees.slice
  .container
    .row
      .col-md-offset-1.col-md-10.text-justify
        %p El registro de los participantes incluye todas las comidas y los cafés, así como el disco USB del congreso. Además, el registro incluye un paseo el lunes por el centro histórico de la ciudad con una degustación de productos típicos valencianos.
        %p Las actas de la conferencia/libro contendrán solo artículos/trabajos en curso que se presenten en el congreso. Cada contribución que se publique en las actas/libro requiere el registro de al menos un participante antes del 24 de julio.
        %p Los participantes disponen de diferentes cuotas de inscripción. Cada participante debe acreditar su estado para conseguir el descuento. En caso contrario, se le aplicará la cuota de no-miembro.
        %p
          Para inscribirse, cumplimente por favor el
          %a{:href => "https://goo.gl/RMdCZm", :target=>"_blank"} FORMULARIO DE REGISTRO.
    .row.mt30
      .col-xs-1
      .col-xs-10
        .table-responsive
          %table.table
            %thead
              %tr
                %th Cuotas de Registro
                %th Hasta el 25 de junio
                %th Después del 25 junio
            %tbody
              %tr
                %td Miembros INNOVA, CIPA e ITN-DCH
                %td 200€
                %td 300€
              %tr
                %td No miembros
                %td 250€
                %td 350€
              %tr
                %td Estudiantes
                %td 75€
                %td 150€
              %tr
                %td Miembros SEAV y UPV (personal)
                %td 150€
                %td 250€
              %tr
                %td Cena de gala (opcional)
                %td 50€
                %td 50€
      .col-xs-1
    .row.mt30
      .col-lg-offset-1.col-lg-10.alert.alert-info
        %p
          :markdown
            **Convocatoria de voluntarios.** Más información en: [http://arqueologica8.webs.upv.es/Call4Volunteers.pdf](http://arqueologica8.webs.upv.es/Call4Volunteers.pdf)
