%section#dates.slice.color4
  .container
    .row
      .col-xs-1
      .col-xs-10
        .table-responsive
          %table.table
            %thead
              %tr
                %th
                %th Fecha límite de envío
                %th Notificación de aceptación
                %th Envío final
            %tbody
              %tr
                %td Artículos completos
                %td
                  %s 15 Febrero, 2016
                  %br
                  1 Marzo, 2016
                %td 1 Mayo, 2016
                %td 15 Junio, 2016
              %tr
                %td Trabajos en curso
                %td
                  %s 15 Marzo, 2016
                  %br
                  15 Abril, 2016
                %td 15 Mayo, 2016
                %td 15 Junio, 2016
              %tr
                %td Presentaciones
                %td 1 Julio, 2016
                %td 15 Julio, 2016
                %td &nbsp;
      .col-xs-1
