%section#fees.slice
  .container
    .row
      .col-xs-1
      .col-xs-10
        %h1 Taller Pre-congreso
        %h2.text-center
          :markdown
            CIPA Heritage Documentation Summer School: [CULTURAL HERITAGE 3D SURVEYING & MODELLING](/assets/Summerschool_UPV-CIPA2016.pdf)

        %h2.text-center 30 Agosto - 4 Septiembre
        %h1 Programa del Congreso
      .col-xs-1
    .row
      .col-xs-1
      .col-xs-10
        .table-responsive
          %table.table
            %thead
              %tr
                %th.time Hora
                %th 5 Sep
                %th 6 Sep
                %th 7 Sep
            %tbody
              %tr
                %td.time 08:30-09:00

                %td.morning Exhibición
                %td.morning Informe técnico y exhibición
                %td.morning Informe técnico y exhibición
              %tr
                %td.time 09:00-10:00
                %td.ceremony Ceremonia inaugural
                %td.emerald Orador principal 2
                %td.emerald Orador principal 3
              %tr
                %td.time 10:00-11:00
                %td.emerald Orador principal 1
                %td.emerald Sesión Tecnica 1
                %td.emerald Sesión Tecnica 2
              %tr
                %td.time 11:00-11:30
                %td.red Café Descanso
                %td.red Café Descanso
                %td.red Café Descanso
              %tr
                %td.time 11:30-13:00
                %td.yellow{rowspan: 2}
                  Presentaciones orales 1 & 2
                %td.yellow{rowspan: 2}
                  Presentaciones orales 5 & 6
                %td.yellow{rowspan: 2}
                  Presentaciones orales 9 & 10
              %tr
                %td.time &nbsp;
              %tr
                %td.time 13:00-14:00
                %td.red
                  Comida
                %td.red
                  Comida
                %td.red
                  Comida
              %tr
                %td.time 14:00-15:00
                %td.color4
                  Sesión de póster 1
                %td.color4
                  Sesión de póster 2
                %td.color4
                  Sesión de póster 3
              %tr
                %td.time 15:00-16:30
                %td.yellow{rowspan: 2}
                  Presentaciones orales 3 & 4
                %td.yellow{rowspan: 2}
                  Presentaciones orales 7 & 8
                %td.yellow{rowspan: 2}
                  Presentaciones orales 11 & 12
              %tr
                %td.time &nbsp;
              %tr
                %td.time 16:30-17:00
                %td.red Café Descanso
                %td.red Café Descanso
                %td.ceremony Ceremonia de clausura
              %tr
                %td.time 17:00-18:30
                %td.exhibition{rowspan: 2}
                  Sesión Demo
                %td.exhibition{rowspan: 2}
                  Sesión Demo
                %td.grey{rowspan: 6}
                  &nbsp;
              %tr
                %td.time &nbsp;
              %tr
                %td.time 18:30-19:00h
                %td.table_blank &nbsp;
                %td.table_blank &nbsp;
              %tr
                %td.time 19:00-21:00
                %td.golden Circuito a pie por el centro de la ciudad
                %td.table_blank &nbsp;
              %tr
                %td.time 21:00-22:30
                %td.golden Degustación de productos Valencianos tipicos
                %td.golden Cena de gala
              %tr
                %td.time &nbsp;
                %td.table_blank &nbsp;
      .col-xs-1
