/ about us
%section#about.slice
  .container
    .row
      .col-sm-1
      .col-sm-10.text-center
        %h2 I Congreso Nacional sobre Documentación y Arqueometría del Arte Rupestre (DAAR)
        %h3 13 - 14 diciembre, 2016
        %h3 Campus de Ciudad Real, Universidad de Castilla-La Mancha
        %h3 Ciudad Real, España
      .col-sm-1
    .row
      .col-md-12.text-justify
        %p El I Congreso Nacional sobre Documentación y Arqueometría del Arte Rupestre nace con la vocación de ofrecer a la comunidad científica nacional e internacional el foro idóneo para la presentación de las últimas investigaciones y desarrollos en este campo. Aunque su enfoque será abierto e inclusivo tanto desde el punto de vista temporal como espacial, se prestará una especial atención al arte rupestre de la cuenca occidental del Mediterráneo y sus zonas de influencia y contacto con el Atlántico oriental.
    .row.mt30
      .col-sm-1
      .col-sm-10.text-justify
        %h1
          Contribuciones
        %p Las personas interesadas en participar en el congreso mediante la presentación de una comunicación deberán enviar un resumen antes del 1 de noviembre de 2016 a congresodaar@gmail.com
        %p Los resúmenes de las comunicaciones, tendrán una extensión máxima de 120 líneas escritas en inglés o español, incluyendo las imágenes y gráficos correspondientes. Deberán incluir: Título de la comunicación, nombre, apellidos, filiación institucional y email de contacto de los autores.
      .col-sm-1
    .row.mt30
      .col-sm-1
      .col-sm-10.text-justify
        %h1 Áreas Temáticas
        %ul
          %li Digitalización y adquisición de información 3D
          %li Informática gráfica e interacción
          %li Análisis e interpretación de modelos digitales
          %li Bases de datos espaciales y Sistemas de Información Geográfica
          %li Documentación multiespectral y análisis de imagen
          %li Análisis de pigmentos
          %li Estudios de biodegradaciones y pátinas
          %li Técnicas geofísicas y geoquímicas
          %li Nuevas técnicas de visualización y arqueología virtual
          %li Técnicas de datación
          %li Traceología
      .col-sm-1
