%section.color4
  .container
    .row.mt30.mb30
      .col-sm-12
        %p Universidad de Castilla-La Mancha
        %p EL Congreso tendrá lugar en el Aula Magna del edificio de Servicios Generales del Campus de Ciudad Real.
