/ content
%section#homeFullScreen{"data-stellar-background-ratio" => "0.5"}
  .maskParent
    .paralaxMask
    #fullScreenSliderWrapper
      #logoBig
      #flexHome.flexslider
        %ul.slides
          %li
            %h1 DAAR 2016
          %li
            %h1 Ciudad Real, España
          %li
            %h1 13 - 14 Diciembre, 2016
      %a.homeBtn.btn{:href => "#about"}
        %i.icon-down>
        más
