%section#fees.slice
  .container
    .row
      .col-md-offset-1.col-md-10.text-justify
        %p
          %b Gratuita
        %p
          Inscripci칩n online en
          %a{:href => "https://cursosweb.uclm.es", :target=>"_blank"} https://cursosweb.uclm.es/
          del 15 de noviembre al 10 de diciembre de 2016.
        %p Se solicitar치 la convalidaci칩n por 0,5 ECTS para estudios de Grado y M치ster en la UCLM 
