/ footer
%footer.color4
  %section#mainFooter
    #footer.container
      .row
        .col-sm-4
          .footerWidgetLeft
            %img#footerLogo{:src => "/images/uclmlogo.jpg"}
            %img#footerLogo{:src => "/images/LAPTe.jpg"}
        .col-sm-8
          %h3 Información de contacto
          %p
            Para cualquier duda o comentario, envíe un correo electrónico a:
            %a{href: 'mailto:congresodaar@gmail.com'} congresodaar@gmail.com
          %p Este congreso está organizado por:
          %p Universidad de Castilla-La Mancha (UCLM)
          %p Laboratorio de Arqueología, Patrimonio y Tecnologías Emergentes (LAPTE)
          %h3 Agradecimientos
          %p La Junta de Comunidades de Castilla-La Mancha y el Fondo Europeo de Desarrollo Regional a través del proyecto «Sistema de documentación integral del patrimonio rupestre» (POII-2014-005-P) han hecho posible este congreso.
