%section#dates.slice.color4
  .container
    .row
      .col-xs-1
      .col-xs-10
        %h1 Resumen comunicaciones
        %p.text-center.mt30
          Fecha límite de envío
          %b 1 noviembre 2016
        %p.text-center
          Notificación de aceptación
          %b 10 noviembre 2016

      .col-xs-1
