%header#mainHeader.nav.navbar.navbar-default.navbar-fixed-top.scrollMenu{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #scrollTarget.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li.active
          %a{:href => "#homeFullScreen"}
            %i.icon-home-outline
            Inicio
        %li
          %a{:href=>"#about"}
            %i.icon-info-outline
            Información
        %li
          %a{:href=>"#dates"}
            %i.icon-calendar
            Fechas
        %li
          %a{:href => "#fees"}
            %i.icon-credit-card
            Inscripción
        %li
          %a{:href => "#schedule"}
            %i.icon-th-list-outline
            Programa
        %li
          %a{:href => "#keynote"}
            %i.icon-users-outline
            Conferenciantes
        %li
          %a{:href => "#about-vlc"}
            %i.icon-location-outline
            Sede
