%section#fees.slice
  .container
    .row
      .col-xs-1
      .col-xs-10
        %h1 Programa
        %a{:href=>"/assets/programa_daar_2016_web.pdf"}
          %img.img-responsive.center-block{src: "/images/programa_screenshot.png"}
